@{
    ViewBag.Title = "Index";
}

@{
    if(Request.Cookies["SessionCreator"]!=null)
    {
        int a = 3;
        <h3>Welcome @Request.Cookies["SessionCreator"]["Name"]</h3>
    }

    else
    {
        <h3>Session Has Expired</h3>
        @Html.ActionLink("Login Please", "Login", "Users");
    }
}

@section scripts{
    <script>
        $(function(){
         alert("Welcome");
      });
    </script>
    }

